<div class="head-container">
    <img id="burgerimg" src="assets/img/burger.png" alt="Burger image.">
    <h1>Benji's Burger Truck</h1>
    <img id="burgerimg2" src="assets/img/burger.png" alt="Burger image.">

</div>